<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %mdc{trId} ${PID:- } - [%t] %-40.40logger{39} [%-3.5L] : %m%n%ex" />
    2025-08-02 23:41:16.541 [INFO ]    - [main] com.redis.lettuce.RedisLettuceString     [43 ] : set : OK
    -->

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{39} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- <logger name="io.lettuce.core" level="INFO"/> -->
    <!-- <logger name="io.netty" level="INFO"/> -->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>